body/*.tex

single/*.tex
single/*.ly
!single/preamble.tex
!full/hymnal_preamble.ly

full/*.tex
full/*.ly
!full/full.tex
!full/introduction.tex
!full/hymnal_preamble.ly

## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/.*.lb
**/*.idx
**/*.ilg
**/*.ind

## Intermediate documents:
**/*.dvi
**/*.xdv
**/*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
**/*.bbl
**/*.bcf
**/*.blg

## Build tool auxiliary files:
**/*.fdb_latexmk
**/*.synctex.gz

**/__pycache__/
.sconsign.dblite

music/*.ly
!music/hymnal_preamble.ly

*~

esv_api.key
